.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
    padding: 10px;
    border: solid 1px #999;
    border-radius: 2px;
    width: 100%;
}

.input-group input:valid {
    border-color: green;
}

.input-group input:invalid {
    border-color: red;
}

.input-group input:focus:invalid,
.input-group input:focus:valid {
    border-color: black;
}

label {
    font-weight: 600;
}

input[type="reset"] {
    background: transparent;
    text-decoration: underline;
    border: 0;
    cursor: pointer;
}

input[type="submit"] {
    border: solid 1px #999;
    border-radius: 3px;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    article {
        width: 350px;
    }
}